{
    "extends": "./node_modules/@plone/volto/.eslintrc", 
    "rules": {
        "linebreak-style": [
            "error", 
            "unix"
        ]
    }, 
    "settings": {
        "import/resolver": {
            "alias": {
                "extensions": [
                    ".js", 
                    ".jsx", 
                    ".json"
                ], 
                "map": [
                    [
                        "@package", 
                        "./src"
                    ], 
                    [
                        "@plone/volto", 
                        "./node_modules/@plone/volto/src"
                    ], 
                    [
                        "@plone/volto", 
                        "./src/addons/@plone/volto/src"
                    ], 
                    [
                        "volto-addons", 
                        "./src/develop/volto-addons/src"
                    ], 
                    [
                        "volto-ckeditor", 
                        "./src/develop/volto-ckeditor/src"
                    ], 
                    [
                        "volto-blocks", 
                        "./src/develop/volto-blocks/src"
                    ], 
                    [
                        "volto-drafteditor", 
                        "./src/develop/volto-drafteditor/src"
                    ], 
                    [
                        "volto-base", 
                        "./src/develop/volto-base/src"
                    ], 
                    [
                        "volto-plotlycharts", 
                        "./src/develop/volto-plotlycharts/src"
                    ], 
                    [
                        "volto-embed", 
                        "./src/develop/volto-embed/src"
                    ], 
                    [
                        "volto-sidebar", 
                        "./src/develop/volto-sidebar/src"
                    ], 
                    [
                        "volto-mosaic", 
                        "./src/develop/volto-mosaic/src"
                    ], 
                    [
                        "volto-datablocks", 
                        "./src/develop/volto-datablocks/src"
                    ]
                ]
            }, 
            "babel-plugin-root-import": {
                "rootPathSuffix": "src"
            }
        }
    }
}