.imagecards-block {
  div {
    .roundtiled {
      margin-bottom: 1em !important;
      text-align: center;

      h2 {
        margin-bottom: 1em;
        font-size: 44px;
      }

      .cards {
        display: flex;
        flex-flow: wrap;

        .card {
          width: 25%;
          margin-bottom: 6rem;

          img {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
          }

          h5 {
            color: #333;
            font-family: @pageFont;
            font-size: 22px;
            font-weight: normal;

            a {
              color: inherit;
            }
          }
        }
      }

    }
  }
}
