/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element specify theme name below */

/* Global */
@site        : 'bise';
@reset       : 'bise';

/* Elements */
@button      : 'bise';
@container   : 'bise';
@divider     : 'bise';
@flag        : 'bise';
@header      : 'bise';
@icon        : 'bise';
@image       : 'bise';
@input       : 'bise';
@label       : 'bise';
@list        : 'bise';
@loader      : 'bise';
@placeholder : 'bise';
@rail        : 'bise';
@reveal      : 'bise';
@segment     : 'bise';
@step        : 'bise';

/* Collections */
@breadcrumb  : 'bise';
@form        : 'bise';
@grid        : 'bise';
@menu        : 'bise';
@message     : 'bise';
@table       : 'bise';

/* Modules */
@accordion   : 'bise';
@checkbox    : 'bise';
@dimmer      : 'bise';
@dropdown    : 'bise';
@embed       : 'bise';
@modal       : 'bise';
@nag         : 'bise';
@popup       : 'bise';
@progress    : 'bise';
@rating      : 'bise';
@search      : 'bise';
@shape       : 'bise';
@sidebar     : 'bise';
@sticky      : 'bise';
@tab         : 'bise';
@transition  : 'bise';

/* Views */
@ad          : 'bise';
@card        : 'bise';
@comment     : 'bise';
@feed        : 'bise';
@item        : 'bise';
@statistic   : 'bise';

/* Extras */
@main        : 'bise';
@custom      : 'bise';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : './themes';

/* Path to site override folder */
@siteFolder  : "../../theme";

/*******************************
         Import Theme
*******************************/

@import (multiple) "./theme.less";
@fontPath : "../../@{theme}/assets/fonts";

/* End Config */
