& {
  .leadimage-header {
    position: relative;
    display: block;
  }

  .leadimage-container {
    overflow: hidden;
    height: 400px;
  }

  .leadimage-wrapper {
    position: relative;
    height: 400px;
  }

  .leadimage {
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}
